.like {
	display: flex;
	flex-direction: row;
	gap: 2px;
	align-items: center;

	margin-bottom: auto;
	margin-left: auto;


	font-size: 12px;
	font-weight: 400;
	color: var(--grey-middle);
}

.like svg {
	display: block;
	width: 16px;
	height: 16px;
}