.card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;

	box-sizing: border-box;
	padding: 10px;
	border: 1px solid var(--grey-light);
	border-radius: 5px;

	background: var(--white);
}

.content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.header {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
}




.main {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.title {
	margin: 0;
	padding: 0;

	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
}

.text {
	margin: 0;
	padding: 0;

	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: var(--grey-middle);
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
}



.post-link {
	display: flex;
	flex-direction: row;
	align-items: center;

	margin: 0;
	padding: 0;

	color: var(--grey-middle);
	text-decoration: none;

	transition: .2s all;
}

.post-link svg {
	width: 20px;
	height: 20px;
}

.post-link:hover {
	color: var(--blue);
}