:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--white: white;
	--primary: #7653FC;
	--primary-hover: rgb(43 15 155);
	--red: #FC836D;
	--green: #1DC47E;
	--green-light: #C8F8E4;
	--font-family: "Noto Sans", sans-serif;
}

html, body {
	font-family: var(--font-family);
	color: var(--black);
	background: #F5F6F8;
}