.blog-post-body {
	display: flex;
	flex-direction: column;
	gap: 65px;

	max-width: 700px;
	margin-top: 15px;
}

.blog-post-meta {
	display: flex;
	gap: 9px;
	align-items: baseline;
}

.blog-post-meta-like {
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.blog-post-body-like {
	display: flex;
	gap: 15px;
	align-items: center;
}

.comment-author, .comment-author-email {
	font-size: 12px;
}

.comment-author {
	grid-area: author;
	font-weight: 700;
	color: var(--grey-dark);
}

.comment-author-email {
	grid-area: email;
	font-weight: 400;
	color: var(--grey-middle);
}

.comment-body {
	grid-area: comment;

	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: var(--grey-dark);
}

.dot {
	grid-area: dot;
}

.blog-post-body-comment {
	display: grid;
	grid-template-areas: 'author dot email .'
		'comment comment comment comment';
	grid-template-columns: auto auto auto auto;
	column-gap: 15px;
	align-items: center;
}